<header class="app-header">
  <a href="#" class="app-sidebar-toggle"><i class="fa fa-dedent"></i></a>
  <div class="search">
    <form action="search">
      <main class="input-addon-group flat">
        <span class="icon"><i class="fa fa-search"></i></span>
        <input type="search" placeholder="Search for a User" class="flat"/>
      </main>
    </form>
  </div>
  <div class="right-menu">
    <nav>
      <ul>
        <li class="help"><a href="#"><i class="fa fa-question-circle-o"></i> Help</a></li>
        <li><a href="#"><i class="fa fa-sign-out"></i> Logout</a></li>
      </ul>
    </nav>
  </div>
</header>