<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-lg-3">
        <h2>Quick Links</h2>
        <nav>
          <ul>
            <li><a href="#">Download</a></li>
            <li><a href="#">Docs</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Expert Advice</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Community & Support</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">My Account</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-3">
        <h2>Upgrade From</h2>
        <nav>
          <ul>
            <li><a href="#">Upgrade from SaaS</a></li>
            <li><a href="#">Upgrade from Homegrown</a></li>
            <li><a href="#">Upgrade from Open Source</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-3">
        <h2>License & Privacy</h2>
        <nav>
          <ul>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Product Privacy Policy</a></li>
            <li><a href="#">License</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-3">
        <h2>Connect with Us</h2>
        <ul class="inline">
          <li><a href="#"><i class="fab fa-github-square fa-3x"></i></a></li>
          <li><a href="#"><i class="fab fa-twitter-square fa-3x"></i></a></li>
          <li><a href="#"><i class="fab fa-facebook-square fa-3x"></i></a></li>
          <li><a href="#"><i class="fab fa-linkedin fa-3x"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container promo">
    <div class="row middle">
      <div class="col-xs-0 col-lg-6">
        <img src="/images/logo-white.svg" alt="logo">
      </div>
      <div class="col-xs-12 col-lg-6 newsletter">
        <strong>Subscribe for Updates</strong>
        <form action="#" method="POST">
          <input type="text" name="email">
          <input type="submit" class="orange button" name="GO" value="GO">
        </form>
        <em>We only send dev friendly newsletters. No marketing fluff!</em>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs">
        <small>&copy; 2020 FusionAuth </small>
      </div>
    </div>
  </div>
</footer>