<header class="page-header">
  <div class="container">
    <img src="/images/logo-white.svg" alt="FusionAuth logo" class="logo">
    <nav>
      <header>
        <img src="/images/logo-gray.svg" alt="FusionAuth logo" class="logo">
        <a href="#" class="menu-close gray-light"><i class="fal fa-times fa-fw fa-3x"></i></a>
      </header>
      <ul>
        <li class="dropdown">
          <a href="#">Features <i class="fal fa-angle-down fa-fw"></i></a>
          <div class="super-dropdown animate">
            <div class="container">
              <div class="promo animate">
                <span class="orange stamp">New</span>
                <img src="/images/fusionauth-reactor.png" alt="FusionAuth Reactor">
                <p>
                  FusionAuth Reactor is a powerful suite of features developed to extend FusionAuth's core functionality.
                </p>
              </div>
              <div class="items animate">
                <ul>
                  <li><a href="#">Flexible Architecture</a></li>
                  <li><a href="#">Auth the way You Want it</a></li>
                  <li><a href="#">Security & Compliance</a></li>
                  <li><a href="#">Ultimate Password Control</a></li>
                  <li><a href="#">Customizable User Experience</a></li>
                </ul>
              </div>
              <div class="items animate">
                <ul>
                  <li><a href="#">Build for Devs</a></li>
                  <li><a href="#">User Management & Reporting</a></li>
                  <li><a href="#">Scalability</a></li>
                  <li><a href="#">FusionAuth Reactor</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Docs</a></li>
        <li><a href="#">Downloads</a></li>
        <li class="dropdown">
          <a href="#">Resources <i class="fal fa-angle-down fa-fw"></i></a>
          <div class="super-dropdown animate">
            <div class="container">
              <div class="promo animate">
                <span class="orange stamp">New</span>
                <img src="/images/fusionauth-reactor.png" alt="FusionAuth Reactor">
                <p>
                  FusionAuth Reactor is a powerful suite of features developed to extend FusionAuth's core functionality.
                </p>
              </div>
              <div class="items animate">
                <ul>
                  <li><a href="#">Blog</a></li>
                  <li><a href="#">Community & Support</a></li>
                  <li><a href="#">Customers & Partners</a></li>
                </ul>
              </div>
              <div class="items animate">
                <ul>
                  <li><a href="#">Upgrade from SaaS</a></li>
                  <li><a href="#">Upgrade from Open Source</a></li>
                  <li><a href="#">Upgrade from Home Grown</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li class="dropdown">
          <a href="#">Expert Advice <i class="fal fa-angle-down fa-fw"></i></a>
          <div class="super-dropdown animate">
            <div class="container">
              <div class="promo animate">
                <span class="orange stamp">New</span>
                <img src="/images/fusionauth-reactor.png" alt="FusionAuth Reactor">
                <p>
                  FusionAuth Reactor is a powerful suite of features developed to extend FusionAuth's core functionality.
                </p>
              </div>
              <div class="items animate">
                <ul>
                  <li><a href="#">Authentication</a></li>
                  <li><a href="#">CIAM</a></li>
                  <li><a href="#">Identity Basics</a></li>
                  <li><a href="#">OAuth</a></li>
                </ul>
              </div>
              <div class="items animate">
                <ul>
                  <li><a href="#">Security</a></li>
                  <li><a href="#">Tokens</a></li>
                  <li><a href="#">Dev Tools</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li><a href="#"><i class="fal fa-user-circle fa-2x fa-fw"></i></a></li>
      </ul>
    </nav>
    <a href="#" class="menu-open button square"><i class="fa fa-bars fa-fw fa-2x"></i></a>
  </div>
</header>