<header class="page-header">
  <div class="container">
    <img src="/images/logo-white.svg" alt="FusionAuth logo">
    <nav>
      <header>
        <img src="/images/logo-gray.svg" alt="FusionAuth logo">
        <a href="#" class="menu-close gray-light"><i class="fal fa-times fa-fw fa-3x"></i></a>
      </header>
      <ul>
        <li><a href="#">Features <i class="fal fa-angle-down fa-fw"></i></a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Docs</a></li>
        <li><a href="#">Downloads</a></li>
        <li><a href="#">Resources <i class="fal fa-angle-down fa-fw"></i></a></li>
        <li><a href="#">Expert Advice</a></li>
        <li><a href="#"><i class="fal fa-user-circle fa-2x fa-fw"></i></a></li>
      </ul>
    </nav>
    <a href="#" class="menu-open button square"><i class="fa fa-bars fa-fw fa-2x"></i></a>
  </div>
</header>