@import 'website-variables';
pre.highlight {
  background-color: $code-background; border-radius: 3px; color: #d4d4d4;   font-size: 0.8rem; margin: 10px 0; overflow-x: scroll; padding: 1rem;
  .hll, .tok-hll { background-color: $code-background; }
  .c, .tok-c { color: #efe67d
  } /* Comment */
  .cm, .tok-ch { color: #e6db74 } /* Comment.HashBang */
  .cm, .tok-cm { color: #e6db74 } /* Comment.Multiline */
  .cp, .tok-cp { color: #e6db74 } /* Comment.Preproc */
  .c1, .tok-c1 { color: #e6db74 } /* Comment.Single */
  .cs, .tok-cs { color: #e6db74 } /* Comment.Special */
  .dl, .tok-dl { color: #8de656 } /* Tick */
  .err, .tok-err { color: #960050; background-color: #1e0010 } /* Error */
  .k, .tok-k { color: #f92672 } /* Keyword */
  .l, .tok-l { color: #ae81ff } /* Literal */
  .n, .tok-n { color: #c4d2f8 } /* Name */
  .o, .tok-o { color: #fff } /* Operator */
  .p, .tok-p { color: #f8f8f2 } /* Punctuation */
  .ge, .tok-ge { font-style: italic } /* Generic.Emph */
  .gs, .tok-gs { font-weight: bold } /* Generic.Strong */
  .kc, .tok-kc { color: #fff } /* Keyword.Constant */
  .kd, .tok-kd { color: #fff } /* Keyword.Declaration */
  .kn, .tok-kn { color: #f92672 } /* Keyword.Namespace */
  .kp, .tok-kp { color: #fff } /* Keyword.Pseudo */
  .kr, .tok-kr { color: #fff } /* Keyword.Reserved */
  .kt, .tok-kt { color: #fff } /* Keyword.Type */
  .ld, .tok-ld { color: #8de656 } /* Literal.Date */
  .m, .tok-m { color: #ae81ff } /* Literal.Number */
  .s, .tok-s { color: #8de656; } /* Literal.String */
  .na, .tok-na { color: #fff } /* Name.Attribute */
  .nb, .tok-nb { color: #f8f8f2 } /* Name.Builtin */
  .nc, .tok-nc { color: #34e9ee } /* Name.Class */
  .no, .tok-no { color: #fff } /* Name.Constant */
  .nd, .tok-nd { color: #a6e22e } /* Name.Decorator */
  .ni, .tok-ni { color: #f8f8f2 } /* Name.Entity */
  .ne, .tok-ne { color: #a6e22e } /* Name.Exception */
  .nf, .tok-nf { color: #34e9ee } /* Name.Function */
  .nl, .tok-nl { color: #f8f8f2 } /* Name.Label */
  .nn, .tok-nn { color: #f8f8f2 } /* Name.Namespace */
  .nx, .tok-nx { color: #a6e22e } /* Name.Other */
  .py, .tok-py { color: #f8f8f2 } /* Name.Property */
  .nt, .tok-nt { color: #f92672 } /* Name.Tag */
  .nv, .tok-nv { color: #f8f8f2 } /* Name.Variable */
  .ow, .tok-ow { color: #f92672 } /* Operator.Word */
  .w, .tok-w { color: #f8f8f2 } /* Text.Whitespace */
  .mf, .tok-mf { color: #ae81ff } /* Literal.Number.Float */
  .mh, .tok-mh { color: #ae81ff } /* Literal.Number.Hex */
  .mi, .tok-mi { color: #ae81ff } /* Literal.Number.Integer */
  .mo, .tok-mo { color: #ae81ff } /* Literal.Number.Oct */
  .sb, .tok-sb { color: #8de656 } /* Literal.String.Backtick */
  .sc, .tok-sc { color: #8de656 } /* Literal.String.Char */
  .sd, .tok-sd { color: #8de656 } /* Literal.String.Doc */
  .s2, .tok-s2 { color: #8de656 } /* Literal.String.Double */
  .se, .tok-se { color: #ae81ff } /* Literal.String.Escape */
  .sh, .tok-sh { color: #8de656 } /* Literal.String.Heredoc */
  .si, .tok-si { color: #8de656 } /* Literal.String.Interpol */
  .sx, .tok-sx { color: #8de656 } /* Literal.String.Other */
  .sr, .tok-sr { color: #8de656 } /* Literal.String.Regex */
  .s1, .tok-s1 { color: #8de656 } /* Literal.String.Single */
  .ss, .tok-ss { color: #8de656 } /* Literal.String.Symbol */
  .bp, .tok-bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
  .vc, .tok-vc { color: #f8f8f2 } /* Name.Variable.Class */
  .vg, .tok-vg { color: #f8f8f2 } /* Name.Variable.Global */
  .vi, .tok-vi { color: #f8f8f2 } /* Name.Variable.Instance */
  .il, .tok-il { color: #ae81ff } /* Literal.Number.Integer.Long */

  .gh, .tok-gh { } /* Generic Heading & Diff Header */
  .gu, .tok-gu { color: #75715e; } /* Generic.Subheading & Diff Unified/Comment? */
  .gd, .tok-gd { color: #f92672; } /* Generic.Deleted & Diff Deleted */
  .gi, .tok-gi { color: #a6e22e; } /* Generic.Inserted & Diff Inserted */
}

