
/* Colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$blue-light: #7DD3FC;
$blue-medium: #0EA5E9;
$blue-dark: #0369A1;
$blue-section-gradient: linear-gradient($blue-light, $blue-dark);

$gray-0: #fafdff;
$gray-1: #F1F5F9;
$gray-2: #CBD5E1;
$gray-3: #94A3B8;
$gray-4: #64748B;
$gray-5: #475569;
$gray-6: #334155;
$gray-7: #1E293B;


//$green-light: #B4FF64;
//$green-medium: #8CC84B;
//$green-dark: #507627;

$orange-light: #FDBA74;
$orange-medium: #F58320;
$orange-dark: #C2410C;
$orange-section-gradient: linear-gradient($orange-light, $orange-dark);

$red-light: #FDA4AF;
$red-medium: #F43F5E;
$red-dark: #BE123C;

$purple-light: #5EEAD4;
$purple-medium: #14B8A6;
$purple-dark: #0F766E;
$purple-section-gradient: linear-gradient($purple-light, $purple-dark);

$yellow-light: #FCD34D;
$yellow-medium: #F59E0B;
$yellow-dark: #B45309;
