
/* Colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$blue-light: #13EBF2;
$blue-medium: #02B6D3;
$blue-dark: #147894;
$blue-section-gradient: linear-gradient(#1D5974, #08A3BF);

$gray-1: #FAFAFA;
$gray-2: #D0D3D4;
$gray-3: #bfbfbf;
$gray-4: #919A9C;
$gray-5: #677173;
$gray-6: #3E4E50;
$gray-7: #253031;


//$green-light: #B4FF64;
//$green-medium: #8CC84B;
//$green-dark: #507627;

$orange-light: #F9B928;
$orange-medium: #F58320;
$orange-dark: #F74B01;
$orange-section-gradient: linear-gradient(#C33221, #F4821F);

$red-light: #FF1D1D;
$red-medium: #D80303;
$red-dark: #B20000;

$purple-light: #C8C8FC;
$purple-medium: #8989CE;
$purple-dark: #59558E;
$purple-section-gradient: linear-gradient(#42417B, #8383D0);

$yellow-light: #FFE129;
$yellow-medium: #E2C000;
$yellow-dark: #B79C00;
