<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css"/>
  <link rel="stylesheet" href="/css/normalize-4.1.1.css"/>
  <link rel="stylesheet" href="/css/skeleton-2.0.4.css"/>
  <link rel="stylesheet" href="/css/inversoft-style.css"/>
  <link rel="stylesheet" href="/css/layout.css"/>
  <script type="text/javascript" src="/js/prime.js"></script>
  <script type="text/javascript">
    var tooltip;
    Prime.Document.onReady(function() {
      Prime.Document.query('[data-help]').each(function(e) {
        e.addEventListener('mouseenter', function(event) {
          var parent = new Prime.Document.Element(event.target);
          var helpText = parent.getDataSet()['help'];
          tooltip = Prime.Document.newElement('<span>').prependTo(parent).addClass('tooltip').setHTML(helpText);
          if (parent.getComputedStyle()['textAlign'] === 'right') {
            tooltip.setStyle('right', '-69px');
            tooltip.setTop(-1 * tooltip.getHeight() - 6);
          } else if (parent.getTagName() === 'LABEL') {
            tooltip.setLeft(-30);
            tooltip.setTop(-1 * (tooltip.getHeight() + 10));
          } else {
            tooltip.setLeft((tooltip.getWidth() - parent.getWidth()) / -2);
            tooltip.setTop(-1 * (tooltip.getHeight() + 10));
          }
        });
        e.addEventListener('mouseleave', function() {
          tooltip.removeFromDOM();
        });
      });

      Prime.Document.query('.multiple-select').each(function(e) {
        new Prime.Widgets.MultipleSelect(e)
            .withCustomAddEnabled(true)
            .withErrorClassHandling('error')
            .withRemoveIcon('')
            .render();
      });

      new Prime.Widgets.Tabs(Prime.Document.queryById('tabs'))
          .render();

      Prime.Document.query('.datetime-picker').each(function(e) {
        new Prime.Widgets.DateTimePicker(e).render();
      });
    });
  </script>
</head>
<body>
<header>
  The site header
</header>
<div class="page-body">
  <header>
    <div class="buttons">
      <button class="blue button square" data-help="Save"><i class="fa fa-save"></i></button>
      <a href="#" class="gray button square" data-help="Cancel"><i class="fa fa-reply"></i></a>
      <a href="#" class="red button square" data-help="Delete"><i class="fa fa-trash"></i></a>
      <a href="#" class="green button square" data-help="Add"><i class="fa fa-plus"></i></a>
    </div>
    <h1>The Page Header</h1>
  </header>
  <div class="panel">
    <h2>Form Panel</h2>
    <div class="body">
      <form class="labels-left">
        <fieldset>
          <legend>Text boxes</legend>
          <div class="form-row">
            <label for="text" data-help="Some tooltip help text that is very long and will wrap multiple lines and such."><span class="required">*</span> Text</label>
            <input type="text" id="text" placeholder="Text input"/>
          </div>

          <div class="form-row">
            <label for="error" class="error" data-help="Short">Error</label>
            <input type="text" id="error" class="error" placeholder="Text input"/>
            <span class="error">Error 1, error 2, error 3</span>
          </div>
        </fieldset>

        <fieldset>
          <legend>Checkboxes</legend>
          <div class="form-row">
            <label for="foo"><span class="required">*</span> Checkbox label</label>
            <label class="checkbox"><input type="checkbox" id="foo"/><span class="box"></span><span class="label">Checkbox info</span></label>
          </div>

          <div class="form-row">
            <label for="bar" class="error">Error Checkbox label</label>
            <label class="checkbox"><input type="checkbox" id="bar"/><span class="box error"></span><span class="label">Checkbox info</span></label>
            <span class="error">Error 1, error 2, error 3</span>
          </div>
        </fieldset>

        <fieldset>
          <legend>Radio buttons</legend>
          <div class="form-row">
            <label>Radio label</label>
            <label class="radio"><input type="radio" name="foo" id="foo-1"/><span class="box"></span><span class="label">Radio label</span></label>
            <label class="radio"><input type="radio" name="foo" id="foo-2"/><span class="box"></span><span class="label">Radio label</span></label>
          </div>
          <div class="form-row">
            <label class="error">Error Radio label</label>
            <label class="radio"><input type="radio" name="bar" id="foo-3"/><span class="box error"></span><span class="label">Radio label</span></label>
            <label class="radio"><input type="radio" name="bar" id="foo-4"/><span class="box error"></span><span class="label">Radio label</span></label>
            <span class="error">Error 1, error 2, error 3</span>
          </div>
        </fieldset>

        <fieldset>
          <legend>Select</legend>
          <div class="form-row">
            <label for="select"><span class="required">*</span> Select label</label>
            <select id="select">
              <option>Option 1</option>
              <option>Option 2</option>
              <option>Option 3</option>
              <option>Option 4</option>
            </select>
          </div>
          <div class="form-row">
            <label for="select-2" class="error"><span class="required">*</span> Error Select label</label>
            <select id="select-2" class="error">
              <option>Option 1</option>
              <option>Option 2</option>
              <option>Option 3</option>
              <option>Option 4</option>
            </select>
            <span class="error">Error 1, error 2, error 3</span>
          </div>
        </fieldset>

        <fieldset>
          <legend>Checkbox list</legend>
          <div class="form-row">
            <label for="checkbox-list">Checkbox list</label>
            <div id="checkbox-list" class="checkbox-list">
              <label class="checkbox"><input type="checkbox" id="cbl-1"/><span class="box"></span><span class="label">Checkbox list info</span></label>
              <label class="checkbox"><input type="checkbox" id="cbl-2"/><span class="box"></span><span class="label">Checkbox list info</span></label>
              <label class="checkbox"><input type="checkbox" id="cbl-3"/><span class="box"></span><span class="label">Checkbox list info</span></label>
              <label class="checkbox"><input type="checkbox" id="cbl-4"/><span class="box"></span><span class="label">Checkbox list info</span></label>
              <label class="checkbox"><input type="checkbox" id="cbl-5"/><span class="box"></span><span class="label">Checkbox list info</span></label>
              <label class="checkbox"><input type="checkbox" id="cbl-6"/><span class="box"></span><span class="label">Checkbox list info</span></label>
              <label class="checkbox"><input type="checkbox" id="cbl-7"/><span class="box"></span><span class="label">Checkbox list info</span></label>
              <label class="checkbox"><input type="checkbox" id="cbl-8"/><span class="box"></span><span class="label">Checkbox list info</span></label>
              <label class="checkbox"><input type="checkbox" id="cbl-9"/><span class="box"></span><span class="label">Checkbox list info</span></label>
              <label class="checkbox"><input type="checkbox" id="cbl-10"/><span class="box"></span><span class="label">Checkbox list info</span></label>
            </div>
          </div>
          <div class="form-row">
            <label for="checkbox-list" class="error">Checkbox list</label>
            <div id="checkbox-list-2" class="checkbox-list error">
              <label class="checkbox"><input type="checkbox" id="cbl-11"/><span class="box"></span><span class="label">Checkbox list info</span></label>
              <label class="checkbox"><input type="checkbox" id="cbl-22"/><span class="box"></span><span class="label">Checkbox list info</span></label>
              <label class="checkbox"><input type="checkbox" id="cbl-33"/><span class="box"></span><span class="label">Checkbox list info</span></label>
              <label class="checkbox"><input type="checkbox" id="cbl-44"/><span class="box"></span><span class="label">Checkbox list info</span></label>
              <label class="checkbox"><input type="checkbox" id="cbl-55"/><span class="box"></span><span class="label">Checkbox list info</span></label>
              <label class="checkbox"><input type="checkbox" id="cbl-66"/><span class="box"></span><span class="label">Checkbox list info</span></label>
              <label class="checkbox"><input type="checkbox" id="cbl-77"/><span class="box"></span><span class="label">Checkbox list info</span></label>
              <label class="checkbox"><input type="checkbox" id="cbl-88"/><span class="box"></span><span class="label">Checkbox list info</span></label>
              <label class="checkbox"><input type="checkbox" id="cbl-99"/><span class="box"></span><span class="label">Checkbox list info</span></label>
              <label class="checkbox"><input type="checkbox" id="cbl-100"/><span class="box"></span><span class="label">Checkbox list info</span></label>
            </div>
            <span class="error">Error 1, error 2, error 3</span>
          </div>
        </fieldset>

        <fieldset>
          <legend>Widgets</legend>
          <div class="form-row">
            <label for="toggle">Toggle</label>
            <label class="toggle"><input type="checkbox" id="toggle"/><span class="rail"></span><span class="pin"></span></label>
          </div>
          <div class="form-row">
            <label for="multi-select">Multi-select</label>
            <select id="multi-select" multiple="multiple" class="multiple-select">
            </select>
          </div>
          <div class="form-row">
            <label for="error-multi-select" class="error">Error multi-select</label>
            <select id="error-multi-select" multiple="multiple" class="error multiple-select">
            </select>
            <span class="error">Error 1, error 2, error 3</span>
          </div>
          <div class="form-row">
            <label for="datetime">Datetime</label>
            <input type="text" id="datetime" class="datetime-picker"/>
          </div>
          <div class="form-row">
            <label for="error-datetime">Datetime</label>
            <input type="text" id="error-datetime" class="error datetime-picker"/>
            <span class="error">Error 1, error 2, error 3</span>
          </div>
        </fieldset>

        <br class="clear"/>

        <div class="form-row">
          <input type="submit" class="blue button" value="Submit"/>
          <a href="#" class="blue button">Cancel</a>
          <button class="blue button">Back</button>
        </div>
      </form>
    </div>
  </div>

  <div class="panel">
    <h2>Form Panel</h2>
    <div class="body">
      <form class="labels-above">
        <fieldset>
          <legend>Text boxes</legend>
          <div class="form-row">
            <label for="text-above" data-help="Some tooltip help text that is very long and will wrap multiple lines and such."><span class="required">*</span> Text</label>
            <input type="text" id="text-above" placeholder="Text input"/>
          </div>

          <div class="form-row">
            <label for="error-above" class="error" data-help="Short">Error</label>
            <input type="text" id="error-above" class="error" placeholder="Text input"/>
            <span class="error">Error 1, error 2, error 3</span>
          </div>
        </fieldset>

        <fieldset>
          <legend>Checkboxes</legend>
          <div class="form-row">
            <label for="foo-above"><span class="required">*</span> Checkbox label</label>
            <label class="checkbox"><input type="checkbox" id="foo-above"/><span class="box"></span><span class="label">Checkbox info</span></label>
          </div>

          <div class="form-row">
            <label for="bar-above" class="error">Error Checkbox label</label>
            <label class="checkbox"><input type="checkbox" id="bar-above"/><span class="error box"></span><span class="label">Checkbox info</span></label>
            <span class="error">Error 1, error 2, error 3</span>
          </div>
        </fieldset>

        <fieldset>
          <legend>Radio buttons</legend>
          <div class="form-row">
            <label>Radio label</label>
            <label class="radio"><input type="radio" name="foo" id="foo-1-above"/><span class="box"></span><span class="label">Radio label</span></label>
            <label class="radio"><input type="radio" name="foo" id="foo-2-above"/><span class="box"></span><span class="label">Radio label</span></label>
          </div>
          <div class="form-row">
            <label class="error">Error Radio label</label>
            <label class="radio"><input type="radio" name="bar" id="foo-3-above"/><span class="box error"></span><span class="label">Radio label</span></label>
            <label class="radio"><input type="radio" name="bar" id="foo-4-above"/><span class="box error"></span><span class="label">Radio label</span></label>
            <span class="error">Error 1, error 2, error 3</span>
          </div>
        </fieldset>

        <fieldset>
          <legend>Select</legend>
          <div class="form-row">
            <label for="select-above"><span class="required">*</span> Select label</label>
            <select id="select-above">
              <option>Option 1</option>
              <option>Option 2</option>
              <option>Option 3</option>
              <option>Option 4</option>
            </select>
          </div>
          <div class="form-row">
            <label for="select-2-above" class="error"><span class="required">*</span> Error Select label</label>
            <select id="select-2-above" class="error">
              <option>Option 1</option>
              <option>Option 2</option>
              <option>Option 3</option>
              <option>Option 4</option>
            </select>
            <span class="error">Error 1, error 2, error 3</span>
          </div>
        </fieldset>

        <fieldset>
          <legend>Checkbox list</legend>
          <div class="form-row">
            <label for="checkbox-list-above">Checkbox list</label>
            <div id="checkbox-list-above" class="checkbox-list">
              <label class="checkbox"><input type="checkbox" id="cbl-above-1"/><span class="box"></span><span class="label">Checkbox list info</span></label>
              <label class="checkbox"><input type="checkbox" id="cbl-above-2"/><span class="box"></span><span class="label">Checkbox list info</span></label>
              <label class="checkbox"><input type="checkbox" id="cbl-above-3"/><span class="box"></span><span class="label">Checkbox list info</span></label>
              <label class="checkbox"><input type="checkbox" id="cbl-above-4"/><span class="box"></span><span class="label">Checkbox list info</span></label>
              <label class="checkbox"><input type="checkbox" id="cbl-above-5"/><span class="box"></span><span class="label">Checkbox list info</span></label>
              <label class="checkbox"><input type="checkbox" id="cbl-above-6"/><span class="box"></span><span class="label">Checkbox list info</span></label>
              <label class="checkbox"><input type="checkbox" id="cbl-above-7"/><span class="box"></span><span class="label">Checkbox list info</span></label>
              <label class="checkbox"><input type="checkbox" id="cbl-above-8"/><span class="box"></span><span class="label">Checkbox list info</span></label>
              <label class="checkbox"><input type="checkbox" id="cbl-above-9"/><span class="box"></span><span class="label">Checkbox list info</span></label>
              <label class="checkbox"><input type="checkbox" id="cbl-above-10"/><span class="box"></span><span class="label">Checkbox list info</span></label>
            </div>
          </div>
          <div class="form-row">
            <label for="checkbox-list-above" class="error">Checkbox list</label>
            <div id="checkbox-list-above-2" class="checkbox-list error">
              <label class="checkbox"><input type="checkbox" id="cbl-above-11"/><span class="box"></span><span class="label">Checkbox list info</span></label>
              <label class="checkbox"><input type="checkbox" id="cbl-above-22"/><span class="box"></span><span class="label">Checkbox list info</span></label>
              <label class="checkbox"><input type="checkbox" id="cbl-above-33"/><span class="box"></span><span class="label">Checkbox list info</span></label>
              <label class="checkbox"><input type="checkbox" id="cbl-above-44"/><span class="box"></span><span class="label">Checkbox list info</span></label>
              <label class="checkbox"><input type="checkbox" id="cbl-above-55"/><span class="box"></span><span class="label">Checkbox list info</span></label>
              <label class="checkbox"><input type="checkbox" id="cbl-above-66"/><span class="box"></span><span class="label">Checkbox list info</span></label>
              <label class="checkbox"><input type="checkbox" id="cbl-above-77"/><span class="box"></span><span class="label">Checkbox list info</span></label>
              <label class="checkbox"><input type="checkbox" id="cbl-above-88"/><span class="box"></span><span class="label">Checkbox list info</span></label>
              <label class="checkbox"><input type="checkbox" id="cbl-above-99"/><span class="box"></span><span class="label">Checkbox list info</span></label>
              <label class="checkbox"><input type="checkbox" id="cbl-above-100"/><span class="box"></span><span class="label">Checkbox list info</span></label>
            </div>
            <span class="error">Error 1, error 2, error 3</span>
          </div>
        </fieldset>

        <fieldset>
          <legend>Widgets</legend>
          <div class="form-row">
            <label for="toggle-above">Toggle</label>
            <label class="toggle"><input type="checkbox" id="toggle-above"/><span class="rail"></span><span class="pin"></span></label>
          </div>
          <div class="form-row">
            <label for="multi-select-above">Multi-select</label>
            <select id="multi-select-above" multiple="multiple" class="multiple-select">
            </select>
          </div>
          <div class="form-row">
            <label for="error-multi-select-above" class="error">Error multi-select</label>
            <select id="error-multi-select-above" multiple="multiple" class="error multiple-select">
            </select>
            <span class="error">Error 1, error 2, error 3</span>
          </div>
        </fieldset>

        <div class="form-row">
          <input type="submit" class="blue button" value="Submit"/>
          <a href="#" class="blue button">Cancel</a>
          <button class="blue button">Back</button>
        </div>
      </form>
    </div>
  </div>

  <div class="panel">
    <h2>Table panel</h2>
    <div class="body">
      <table>
        <thead>
        <tr>
          <th class="tight"><input type="checkbox"></th>
          <th class="sort-down text-left"><a href="#">Column 1 (down)</a></th>
          <th class="sort-up text-right"><a href="#">Column 2 (up)</a></th>
          <th class="text-right">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="tight"><input type="checkbox"></td>
          <td class="text-left">Value 2</td>
          <td class="text-right">Value 3</td>
          <td class="text-right"><a href="#" class="blue button square" data-help="Edit"><i class="fa fa-pencil"></i></a></td>
        </tr>
        <tr>
          <td class="tight"><input type="checkbox"></td>
          <td class="text-left">Value 2</td>
          <td class="text-right">Value 3</td>
          <td class="text-right"><a href="#" class="blue button square" data-help="Edit"><i class="fa fa-pencil"></i></a></td>
        </tr>
        <tr>
          <td class="tight"><input type="checkbox"></td>
          <td class="text-left">Value 2</td>
          <td class="text-right">Value 3</td>
          <td class="text-right"><a href="#" class="blue button square" data-help="Edit"><i class="fa fa-pencil"></i></a></td>
        </tr>
        </tbody>
      </table>
      <div class="pagination row">
        <div class="page-controls four columns">
          <span class="current">1</span>
          <a href="#">2</a>
          <a href="#">3</a>
          <a href="#">4</a>
          <a href="#">&gt;</a>
          <a href="#">&gt;&gt;</a>
        </div>
        <div class="number-controls four columns text-center">
          <span class="header">Number per page</span>
          <a href="#">25</a>
          <span class="current">50</span>
          <a href="#">100</a>
        </div>
        <div class="info four columns text-right">
          <p>
            Showing 1 to 20 of 38 (2 pages)
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="panel">
    <h2>Searchable table panel</h2>
    <div class="body">
      <div class="gray-panel row">
        <form class="labels-above">
          <div class="four columns">
            <div class="form-row">
              <label for="search-1">Search Field 1</label>
              <input type="text" id="search-1" class="full"/>
            </div>
            <div class="form-row">
              <label for="search-2">Search Field 2</label>
              <input type="text" id="search-2" class="full"/>
            </div>
          </div>
          <div class="four columns">
            <div class="form-row">
              <label for="search-3">Search Field 3</label>
              <input type="text" id="search-3" class="full"/>
            </div>
            <div class="form-row">
              <label for="search-4">Search Field 4</label>
              <input type="text" id="search-4" class="full"/>
            </div>
          </div>
          <div class="four columns">
            <div class="form-row">
              <label for="search-5">Search Field 5</label>
              <select id="search-5" class="full">
                <option>Option</option>
                <option>Option</option>
                <option>Option</option>
              </select>
            </div>
            <div class="form-row">
              <label for="search-6">Search Field 6</label>
              <input type="text" id="search-6" class="full"/>
            </div>
          </div>
          <div class="twelve columns text-right">
            <button class="blue button"><i class="fa fa-search"></i> Filter</button>
          </div>
        </form>
      </div>
      <table>
        <thead>
        <tr>
          <th class="tight"><input type="checkbox"></th>
          <th class="sort-down text-left"><a href="#">Column 1 (down)</a></th>
          <th class="sort-up text-right"><a href="#">Column 2 (up)</a></th>
          <th class="text-right">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="tight"><input type="checkbox"></td>
          <td class="text-left">Value 2</td>
          <td class="text-right">Value 3</td>
          <td class="text-right"><a href="#" class="blue button square" data-help="Edit"><i class="fa fa-pencil"></i></a></td>
        </tr>
        <tr>
          <td class="tight"><input type="checkbox"></td>
          <td class="text-left">Value 2</td>
          <td class="text-right">Value 3</td>
          <td class="text-right"><a href="#" class="blue button square" data-help="Edit"><i class="fa fa-pencil"></i></a></td>
        </tr>
        <tr>
          <td class="tight"><input type="checkbox"></td>
          <td class="text-left">Value 2</td>
          <td class="text-right">Value 3</td>
          <td class="text-right"><a href="#" class="blue button square" data-help="Edit"><i class="fa fa-pencil"></i></a></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="panel">
    <h2>Tabs</h2>
    <div class="body">
      <ul id="tabs" class="tabs">
        <li><a href="#tab-1">Tab 1</a></li>
        <li><a href="#tab-2">Tab 2</a></li>
        <li><a href="#tab-3">Tab 3</a></li>
        <li><a href="#tab-4">Tab 4</a></li>
        <li><a href="#tab-5">Tab 5</a></li>
        <li><a href="#tab-6">Tab 6</a></li>
        <li><a href="#tab-7">Tab 7</a></li>
        <li><a href="#tab-8">Tab 8</a></li>
        <li><a href="#tab-9">Tab 9</a></li>
        <li><a href="#tab-10">Tab 10</a></li>
        <li><a href="#tab-11">Tab 11</a></li>
      </ul>
      <div id="tab-1"><p> Tab 1 contents </p></div>
      <div id="tab-2"><p> Tab 2 contents </p></div>
      <div id="tab-3"><p> Tab 3 contents </p></div>
      <div id="tab-4"><p> Tab 4 contents </p></div>
      <div id="tab-5"><p> Tab 5 contents </p></div>
      <div id="tab-6"><p> Tab 6 contents </p></div>
      <div id="tab-7"><p> Tab 7 contents </p></div>
      <div id="tab-8"><p> Tab 8 contents </p></div>
      <div id="tab-9"><p> Tab 9 contents </p></div>
      <div id="tab-10"><p> Tab 10 contents </p></div>
      <div id="tab-11"><p> Tab 11 contents </p></div>
    </div>
  </div>
  <div id="buttons">
    <a class="blue button" href="#">Test</a>
    <a class="blue shadow button" href="#">Test</a>
    <a class="green button" href="#">Test</a>
    <a class="green shadow button" href="#">Test</a>
    <a class="red button" href="#">Test</a>
    <a class="red shadow button" href="#">Test</a>
    <a class="purple button" href="#">Test</a>
    <a class="purple shadow button" href="#">Test</a>
  </div>
  <div id="typography">
    <h1>Title 1</h1>
    <h2>Title 2</h2>
    <h3>Title 3</h3>
    <h4>Title 4</h4>
    <h5>Title 5</h5>
    <h6>Title 6</h6>
  </div>
</div>
</body>
</html>