<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css"/>
  <link rel="stylesheet" href="/css/normalize-4.1.1.css"/>
  <link rel="stylesheet" href="/css/skeleton-2.0.4.css"/>
  <link rel="stylesheet" href="/css/inversoft-style.css"/>
  <link rel="stylesheet" href="/css/layout.css"/>
  <script type="text/javascript" src="/js/prime-0.35.4.js"></script>
  <script type="text/javascript">
    var tooltip;
    Prime.Document.onReady(function() {
      Prime.Document.query('[data-help]').each(function(e) {
        e.addEventListener('mouseenter', function(event) {
          var parent = new Prime.Document.Element(event.target);
          var helpText = parent.getDataSet()['help'];
          tooltip = Prime.Document.newElement('<span>').prependTo(parent).addClass('tooltip').setHTML(helpText);
          if (parent.getComputedStyle()['textAlign'] === 'right') {
            tooltip.setStyle('right', '-69px');
            tooltip.setTop(-1 * tooltip.getHeight() - 6);
          } else if (parent.getTagName() === 'LABEL') {
            tooltip.setLeft(-30);
            tooltip.setTop(-1 * (tooltip.getHeight() + 10));
          } else {
            tooltip.setLeft((tooltip.getWidth() - parent.getWidth()) / -2);
            tooltip.setTop(-1 * (tooltip.getHeight() + 10));
          }
        });
        e.addEventListener('mouseleave', function() {
          tooltip.removeFromDOM();
        });
      });
    });
  </script>
</head>
<body>
<header>
  The site header
</header>
<div class="page-body">
  <header>
    <div class="buttons">
      <button class="blue button square" data-help="Save"><i class="fa fa-save"></i></button>
      <a href="#" class="gray button square" data-help="Cancel"><i class="fa fa-reply"></i></a>
      <a href="#" class="red button square" data-help="Delete"><i class="fa fa-trash"></i></a>
      <a href="#" class="green button square" data-help="Add"><i class="fa fa-plus"></i></a>
    </div>
    <h1>The Page Header</h1>
  </header>
  <div class="panel">
    <h2>Form Panel</h2>
    <div class="body">
      <form class="labels-left">
        <fieldset>
          <legend>Text boxes</legend>
          <div class="form-row">
            <label for="text" data-help="Some tooltip help text that is very long and will wrap multiple lines and such."><span>*</span> Text</label>
            <input type="text" id="text" placeholder="Text input"/>
          </div>

          <div class="form-row">
            <label for="error" class="error" data-help="Short">Error</label>
            <input type="text" id="error" class="error" placeholder="Text input"/>
            <span class="error">Error 1, error 2, error 3</span>
          </div>
        </fieldset>

        <fieldset>
          <legend>Checkboxes</legend>
          <div class="form-row">
            <label for="foo"><span>*</span> Checkbox label</label>
            <div class="checkbox"><input type="checkbox" id="foo"/><label for="foo"></label><label for="foo">Checkbox info</label></div>
          </div>

          <div class="form-row">
            <label for="bar" class="error">Error Checkbox label</label>
            <div class="checkbox"><input type="checkbox" id="bar"/><label for="bar" class="error"></label><label for="bar">Checkbox info</label></div>
            <span class="error">Error 1, error 2, error 3</span>
          </div>
        </fieldset>

        <fieldset>
          <legend>Radio buttons</legend>
          <div class="form-row">
            <label>Radio label</label>
            <div class="radio"><input type="radio" name="foo" id="foo-1"/><label for="foo-1"></label><label for="foo-1">Radio label</label></div>
            <div class="radio"><input type="radio" name="foo" id="foo-2"/><label for="foo-2"></label><label for="foo-2">Radio label</label></div>
          </div>
          <div class="form-row">
            <label class="error">Error Radio label</label>
            <div class="radio"><input type="radio" name="bar" id="foo-3"/><label for="foo-3" class="error"></label><label for="foo-3">Radio label</label></div>
            <div class="radio"><input type="radio" name="bar" id="foo-4"/><label for="foo-4" class="error"></label><label for="foo-4">Radio label</label></div>
            <span class="error">Error 1, error 2, error 3</span>
          </div>
        </fieldset>

        <fieldset>
          <legend>Select</legend>
          <div class="form-row">
            <label for="select"><span>*</span> Select label</label>
            <select id="select">
              <option>Option 1</option>
              <option>Option 2</option>
              <option>Option 3</option>
              <option>Option 4</option>
            </select>
          </div>
          <div class="form-row">
            <label for="select-2" class="error"><span>*</span> Error Select label</label>
            <select id="select-2" class="error">
              <option>Option 1</option>
              <option>Option 2</option>
              <option>Option 3</option>
              <option>Option 4</option>
            </select>
            <span class="error">Error 1, error 2, error 3</span>
          </div>
        </fieldset>

        <fieldset>
          <legend>Checkbox list</legend>
          <div class="form-row">
            <label for="checkbox-list">Checkbox list</label>
            <div id="checkbox-list" class="checkbox-list">
              <div class="checkbox"><input type="checkbox" id="cbl-1"/><label for="cbl-1"></label><label for="cbl-1">Checkbox list info</label></div>
              <div class="checkbox"><input type="checkbox" id="cbl-2"/><label for="cbl-2"></label><label for="cbl-2">Checkbox list info</label></div>
              <div class="checkbox"><input type="checkbox" id="cbl-3"/><label for="cbl-3"></label><label for="cbl-3">Checkbox list info</label></div>
              <div class="checkbox"><input type="checkbox" id="cbl-4"/><label for="cbl-4"></label><label for="cbl-4">Checkbox list info</label></div>
              <div class="checkbox"><input type="checkbox" id="cbl-5"/><label for="cbl-5"></label><label for="cbl-5">Checkbox list info</label></div>
              <div class="checkbox"><input type="checkbox" id="cbl-6"/><label for="cbl-6"></label><label for="cbl-6">Checkbox list info</label></div>
              <div class="checkbox"><input type="checkbox" id="cbl-7"/><label for="cbl-7"></label><label for="cbl-7">Checkbox list info</label></div>
              <div class="checkbox"><input type="checkbox" id="cbl-8"/><label for="cbl-8"></label><label for="cbl-8">Checkbox list info</label></div>
              <div class="checkbox"><input type="checkbox" id="cbl-9"/><label for="cbl-9"></label><label for="cbl-9">Checkbox list info</label></div>
              <div class="checkbox"><input type="checkbox" id="cbl-10"/><label for="cbl-10"></label><label for="cbl-10">Checkbox list info</label></div>
            </div>
          </div>
          <div class="form-row">
            <label for="checkbox-list" class="error">Checkbox list</label>
            <div id="checkbox-list-2" class="checkbox-list error">
              <div class="checkbox"><input type="checkbox" id="cbl-11"/><label for="cbl-11"></label><label for="cbl-11">Checkbox list info</label></div>
              <div class="checkbox"><input type="checkbox" id="cbl-22"/><label for="cbl-22"></label><label for="cbl-22">Checkbox list info</label></div>
              <div class="checkbox"><input type="checkbox" id="cbl-33"/><label for="cbl-33"></label><label for="cbl-33">Checkbox list info</label></div>
              <div class="checkbox"><input type="checkbox" id="cbl-44"/><label for="cbl-44"></label><label for="cbl-44">Checkbox list info</label></div>
              <div class="checkbox"><input type="checkbox" id="cbl-55"/><label for="cbl-55"></label><label for="cbl-55">Checkbox list info</label></div>
              <div class="checkbox"><input type="checkbox" id="cbl-66"/><label for="cbl-66"></label><label for="cbl-66">Checkbox list info</label></div>
              <div class="checkbox"><input type="checkbox" id="cbl-77"/><label for="cbl-77"></label><label for="cbl-77">Checkbox list info</label></div>
              <div class="checkbox"><input type="checkbox" id="cbl-88"/><label for="cbl-88"></label><label for="cbl-88">Checkbox list info</label></div>
              <div class="checkbox"><input type="checkbox" id="cbl-99"/><label for="cbl-99"></label><label for="cbl-99">Checkbox list info</label></div>
              <div class="checkbox"><input type="checkbox" id="cbl-100"/><label for="cbl-100"></label><label for="cbl-100">Checkbox list info</label></div>
            </div>
            <span class="error">Error 1, error 2, error 3</span>
          </div>
        </fieldset>

        <div class="form-row">
          <input type="submit" class="blue button" value="Submit"/>
          <a href="#" class="blue button">Cancel</a>
          <button class="blue button">Back</button>
        </div>
      </form>
    </div>
  </div>
  <div class="panel">
    <h2>Form Panel</h2>
    <div class="body">
      <form class="labels-above">
        <fieldset>
          <legend>Text boxes</legend>
          <div class="form-row">
            <label for="text-above" data-help="Some tooltip help text that is very long and will wrap multiple lines and such."><span>*</span> Text</label>
            <input type="text" id="text-above" placeholder="Text input"/>
          </div>

          <div class="form-row">
            <label for="error-above" class="error" data-help="Short">Error</label>
            <input type="text" id="error-above" class="error" placeholder="Text input"/>
            <span class="error">Error 1, error 2, error 3</span>
          </div>
        </fieldset>

        <fieldset>
          <legend>Checkboxes</legend>
          <div class="form-row">
            <label for="foo-above"><span>*</span> Checkbox label</label>
            <div class="checkbox"><input type="checkbox" id="foo-above"/><label for="foo-above"></label><label for="foo-above">Checkbox info</label></div>
          </div>

          <div class="form-row">
            <label for="bar-above" class="error">Error Checkbox label</label>
            <div class="checkbox"><input type="checkbox" id="bar-above"/><label for="bar-above" class="error"></label><label for="bar-above">Checkbox info</label></div>
            <span class="error">Error 1, error 2, error 3</span>
          </div>
        </fieldset>

        <fieldset>
          <legend>Radio buttons</legend>
          <div class="form-row">
            <label>Radio label</label>
            <div class="radio"><input type="radio" name="foo" id="foo-1-above"/><label for="foo-1-above"></label><label for="foo-1-above">Radio label</label></div>
            <div class="radio"><input type="radio" name="foo" id="foo-2-above"/><label for="foo-2-above"></label><label for="foo-2-above">Radio label</label></div>
          </div>
          <div class="form-row">
            <label class="error">Error Radio label</label>
            <div class="radio"><input type="radio" name="bar" id="foo-3-above"/><label for="foo-3-above" class="error"></label><label for="foo-3-above">Radio label</label></div>
            <div class="radio"><input type="radio" name="bar" id="foo-4-above"/><label for="foo-4-above" class="error"></label><label for="foo-4-above">Radio label</label></div>
            <span class="error">Error 1, error 2, error 3</span>
          </div>
        </fieldset>

        <fieldset>
          <legend>Select</legend>
          <div class="form-row">
            <label for="select-above"><span>*</span> Select label</label>
            <select id="select-above">
              <option>Option 1</option>
              <option>Option 2</option>
              <option>Option 3</option>
              <option>Option 4</option>
            </select>
          </div>
          <div class="form-row">
            <label for="select-2-above" class="error"><span>*</span> Error Select label</label>
            <select id="select-2-above" class="error">
              <option>Option 1</option>
              <option>Option 2</option>
              <option>Option 3</option>
              <option>Option 4</option>
            </select>
            <span class="error">Error 1, error 2, error 3</span>
          </div>
        </fieldset>

        <fieldset>
          <legend>Checkbox list</legend>
          <div class="form-row">
            <label for="checkbox-list-above">Checkbox list</label>
            <div id="checkbox-list-above" class="checkbox-list">
              <div class="checkbox"><input type="checkbox" id="cbl-above-1"/><label for="cbl-above-1"></label><label for="cbl-above-1">Checkbox list info</label></div>
              <div class="checkbox"><input type="checkbox" id="cbl-above-2"/><label for="cbl-above-2"></label><label for="cbl-above-2">Checkbox list info</label></div>
              <div class="checkbox"><input type="checkbox" id="cbl-above-3"/><label for="cbl-above-3"></label><label for="cbl-above-3">Checkbox list info</label></div>
              <div class="checkbox"><input type="checkbox" id="cbl-above-4"/><label for="cbl-above-4"></label><label for="cbl-above-4">Checkbox list info</label></div>
              <div class="checkbox"><input type="checkbox" id="cbl-above-5"/><label for="cbl-above-5"></label><label for="cbl-above-5">Checkbox list info</label></div>
              <div class="checkbox"><input type="checkbox" id="cbl-above-6"/><label for="cbl-above-6"></label><label for="cbl-above-6">Checkbox list info</label></div>
              <div class="checkbox"><input type="checkbox" id="cbl-above-7"/><label for="cbl-above-7"></label><label for="cbl-above-7">Checkbox list info</label></div>
              <div class="checkbox"><input type="checkbox" id="cbl-above-8"/><label for="cbl-above-8"></label><label for="cbl-above-8">Checkbox list info</label></div>
              <div class="checkbox"><input type="checkbox" id="cbl-above-9"/><label for="cbl-above-9"></label><label for="cbl-above-9">Checkbox list info</label></div>
              <div class="checkbox"><input type="checkbox" id="cbl-above-10"/><label for="cbl-above-10"></label><label for="cbl-above-10">Checkbox list info</label></div>
            </div>
          </div>
          <div class="form-row">
            <label for="checkbox-list-above" class="error">Checkbox list</label>
            <div id="checkbox-list-above-2" class="checkbox-list error">
              <div class="checkbox"><input type="checkbox" id="cbl-above-11"/><label for="cbl-above-11"></label><label for="cbl-above-11">Checkbox list info</label></div>
              <div class="checkbox"><input type="checkbox" id="cbl-above-22"/><label for="cbl-above-22"></label><label for="cbl-above-22">Checkbox list info</label></div>
              <div class="checkbox"><input type="checkbox" id="cbl-above-33"/><label for="cbl-above-33"></label><label for="cbl-above-33">Checkbox list info</label></div>
              <div class="checkbox"><input type="checkbox" id="cbl-above-44"/><label for="cbl-above-44"></label><label for="cbl-above-44">Checkbox list info</label></div>
              <div class="checkbox"><input type="checkbox" id="cbl-above-55"/><label for="cbl-above-55"></label><label for="cbl-above-55">Checkbox list info</label></div>
              <div class="checkbox"><input type="checkbox" id="cbl-above-66"/><label for="cbl-above-66"></label><label for="cbl-above-66">Checkbox list info</label></div>
              <div class="checkbox"><input type="checkbox" id="cbl-above-77"/><label for="cbl-above-77"></label><label for="cbl-above-77">Checkbox list info</label></div>
              <div class="checkbox"><input type="checkbox" id="cbl-above-88"/><label for="cbl-above-88"></label><label for="cbl-above-88">Checkbox list info</label></div>
              <div class="checkbox"><input type="checkbox" id="cbl-above-99"/><label for="cbl-above-99"></label><label for="cbl-above-99">Checkbox list info</label></div>
              <div class="checkbox"><input type="checkbox" id="cbl-above-100"/><label for="cbl-above-100"></label><label for="cbl-above-100">Checkbox list info</label></div>
            </div>
            <span class="error">Error 1, error 2, error 3</span>
          </div>
        </fieldset>

        <div class="form-row">
          <input type="submit" class="blue button" value="Submit"/>
          <a href="#" class="blue button">Cancel</a>
          <button class="blue button">Back</button>
        </div>
      </form>
    </div>
  </div>
  <div class="panel">
    <h2>Table panel</h2>
    <div class="body">
      <table>
        <thead>
        <tr>
          <th class="tight"><input type="checkbox"></th>
          <th class="sort-down text-left"><a href="#">Column 1 (down)</a></th>
          <th class="sort-up text-right"><a href="#">Column 2 (up)</a></th>
          <th class="text-right">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="tight"><input type="checkbox"></td>
          <td class="text-left">Value 2</td>
          <td class="text-right">Value 3</td>
          <td class="text-right"><a href="#" class="blue button square" data-help="Edit"><i class="fa fa-pencil"></i></a></td>
        </tr>
        <tr>
          <td class="tight"><input type="checkbox"></td>
          <td class="text-left">Value 2</td>
          <td class="text-right">Value 3</td>
          <td class="text-right"><a href="#" class="blue button square" data-help="Edit"><i class="fa fa-pencil"></i></a></td>
        </tr>
        <tr>
          <td class="tight"><input type="checkbox"></td>
          <td class="text-left">Value 2</td>
          <td class="text-right">Value 3</td>
          <td class="text-right"><a href="#" class="blue button square" data-help="Edit"><i class="fa fa-pencil"></i></a></td>
        </tr>
        </tbody>
      </table>
      <div class="pagination row">
        <div class="page-controls four columns">
          <span class="current">1</span>
          <a href="#">2</a>
          <a href="#">3</a>
          <a href="#">4</a>
          <a href="#">&gt;</a>
          <a href="#">&gt;&gt;</a>
        </div>
        <div class="number-controls four columns text-center">
          <span class="header">Number per page</span>
          <a href="#">25</a>
          <span class="current">50</span>
          <a href="#">100</a>
        </div>
        <div class="info four columns text-right">
          <p>
            Showing 1 to 20 of 38 (2 pages)
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="panel">
    <h2>Searchable table panel</h2>
    <div class="body">
      <div class="gray-panel row">
        <form class="labels-above">
          <div class="four columns">
            <div class="form-row">
              <label for="search-1">Search Field 1</label>
              <input type="text" id="search-1" class="full"/>
            </div>
            <div class="form-row">
              <label for="search-2">Search Field 2</label>
              <input type="text" id="search-2" class="full"/>
            </div>
          </div>
          <div class="four columns">
            <div class="form-row">
              <label for="search-3">Search Field 3</label>
              <input type="text" id="search-3" class="full"/>
            </div>
            <div class="form-row">
              <label for="search-4">Search Field 4</label>
              <input type="text" id="search-4" class="full"/>
            </div>
          </div>
          <div class="four columns">
            <div class="form-row">
              <label for="search-5">Search Field 5</label>
              <select id="search-5" class="full">
                <option>Option</option>
                <option>Option</option>
                <option>Option</option>
              </select>
            </div>
            <div class="form-row">
              <label for="search-6">Search Field 6</label>
              <input type="text" id="search-6" class="full"/>
            </div>
          </div>
          <div class="twelve columns text-right">
            <button class="blue button"><i class="fa fa-search"></i> Filter</button>
          </div>
        </form>
      </div>
      <table>
        <thead>
        <tr>
          <th class="tight"><input type="checkbox"></th>
          <th class="sort-down text-left"><a href="#">Column 1 (down)</a></th>
          <th class="sort-up text-right"><a href="#">Column 2 (up)</a></th>
          <th class="text-right">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="tight"><input type="checkbox"></td>
          <td class="text-left">Value 2</td>
          <td class="text-right">Value 3</td>
          <td class="text-right"><a href="#" class="blue button square" data-help="Edit"><i class="fa fa-pencil"></i></a></td>
        </tr>
        <tr>
          <td class="tight"><input type="checkbox"></td>
          <td class="text-left">Value 2</td>
          <td class="text-right">Value 3</td>
          <td class="text-right"><a href="#" class="blue button square" data-help="Edit"><i class="fa fa-pencil"></i></a></td>
        </tr>
        <tr>
          <td class="tight"><input type="checkbox"></td>
          <td class="text-left">Value 2</td>
          <td class="text-right">Value 3</td>
          <td class="text-right"><a href="#" class="blue button square" data-help="Edit"><i class="fa fa-pencil"></i></a></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div id="buttons">
    <a class="blue button" href="#">Test</a>
    <a class="blue shadow button" href="#">Test</a>
    <a class="green button" href="#">Test</a>
    <a class="green shadow button" href="#">Test</a>
    <a class="red button" href="#">Test</a>
    <a class="red shadow button" href="#">Test</a>
    <a class="purple button" href="#">Test</a>
    <a class="purple shadow button" href="#">Test</a>
  </div>
  <div id="typography">
    <h1>Title 1</h1>
    <h2>Title 2</h2>
    <h3>Title 3</h3>
    <h4>Title 4</h4>
    <h5>Title 5</h5>
    <h6>Title 6</h6>
  </div>
</div>
</body>
</html>