---
layout: website
title: Dashboard
nav: dashboard
show-alerts: true
---

<section class="white pricing">
  <div class="container content">
    <div class="row">
      <div class="col-xs-12 text">
        <p class="preface">PRICING</p>
        <h1>Find Your Perfect Plan</h1>
      </div>
    </div>
    <div class="row hosting-selections">
      <div class="col-xs-12 col-lg-7 col-xl-6 tight-right-lg">
        <span class="selection-text">
            Select Hosting Option
            <a href="#" class="hosting-option-button"><i class="far fa-question-circle fa-fw fa-lg"></i></a>
        </span>
        <ul class="radio-bar">
          <li class="checked">
            <label><input type="radio" name="hosting" value="self-hosted"
                          checked="checked"/><span>SELF-HOSTED</span></label>
          </li>
          <li class="">
            <label><input type="radio" name="hosting" value="basic-cloud"/><span>BASIC CLOUD</span></label>
          </li>
          <li class="">
            <label><input type="radio" name="hosting"
                          value="business-cloud"/><span>BUSINESS CLOUD</span></label>
          </li>
          <li class="">
            <label><input type="radio" name="hosting" value="ha-cloud"/><span>HA CLOUD</span></label>
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-lg-5 col-xl-4 tight-left-lg tight-both-xl">
        <span class="selection-text">Monthly Active Users</span>
        <div class="slider-bar">
          <input type="range" id="monthly-active-users" min="10000" max="5000000" step="10000" value="500000"/>
          <label for="monthly-active-users">500,000</label>
        </div>
      </div>
      <div class="col-xs-12 col-lg-12 col-xl-2 tight-left">
        <span class="compare-features">
          <a href="#" class="compare-button"><i class="far fa-arrow-circle-down fa-fw fa-lg"></i> COMPARE PLAN FEATURES</a>
        </span>
      </div>
    </div>
    <div class="row pricing-cards show-self-hosted show-basic-cloud show-business-cloud show-ha-cloud">
      <div class="col-xs-12 col-md-6 col-lg-3 even card green-border">
        <h2>COMMUNITY</h2>
        <div class="cost">
          <span class="amount">FREE</span>
          <span class="hosting self-hosted green-text">WHEN SELF HOSTED</span>
          <span class="hosting basic-cloud green-text">WITH BASIC CLOUD</span>
          <span class="hosting business-cloud green-text">WITH BUSINESS CLOUD</span>
          <span class="hosting ha-cloud green-text">WITH&nbsp;HIGH AVAILABILITY&nbsp;CLOUD</span>
        </div>
        <h3>Community includes:</h3>
        <ul class="fa-ul green">
          <li class="self-hosted"><span class="fa-li"><i class="fas fa-check-circle fa-fw"></i></span> Login,
            registration,
            authorization
          </li>
          <li class="self-hosted"><span class="fa-li"><i class="fas fa-check-circle fa-fw"></i></span> MFA, SSO, SAML,
            OAuth, OIDC
          </li>
          <li class="self-hosted"><span class="fa-li"><i class="fas fa-check-circle fa-fw"></i></span> Themed login &
            registration
            pages
          </li>
          <li class="self-hosted"><span class="fa-li"><i class="fas fa-check-circle fa-fw"></i></span> Unlimited users &
            API
            requests
          </li>
        </ul>
        <a href="{% if jekyll.environment == 'development' %}https://account-local.fusionauth.io{% else %}https://account.fusionauth.io{% endif %}/account/edition/edit?license.plan=COMMUNITY"
           class="green brochure button" rel="nofollow">JOIN THE COMMUNITY</a>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-3 even card purple-border">
        <h2>DEVELOPER</h2>
        <div class="cost">
          <span class="amount">$125</span>
          <span class="hosting self-hosted purple-text">WHEN SELF HOSTED</span>
          <span class="hosting basic-cloud purple-text">WITH BASIC CLOUD</span>
          <span class="hosting business-cloud purple-text">WITH BUSINESS CLOUD</span>
          <span class="hosting ha-cloud purple-text">WITH HIGH AVAILABILITY CLOUD</span>
        </div>
        <h3>Includes everything in Community, plus:</h3>
        <ul class="fa-ul purple">
          <li class="basic-cloud"><span class="fa-li"><i class="fas fa-check-circle fa-fw"></i></span> Login,
            registration,
            authorization
          </li>
          <li class="basic-cloud"><span class="fa-li"><i class="fas fa-check-circle fa-fw"></i></span> MFA, SSO, SAML,
            OAuth, OIDC
          </li>
          <li class="basic-cloud"><span class="fa-li"><i class="fas fa-check-circle fa-fw"></i></span> Themed login &
            registration
            pages
          </li>
          <li class="basic-cloud"><span class="fa-li"><i class="fas fa-check-circle fa-fw"></i></span> Unlimited users &
            API
            requests
          </li>
        </ul>
        <a href="{% if jekyll.environment == 'development' %}https://account-local.fusionauth.io{% else %}https://account.fusionauth.io{% endif %}/account/edition/edit?license.plan=DEVELOPER"
           class="purple brochure button" rel="nofollow">TRY IT FOR FREE</a>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-3 even card blue-border">
        <h2>PREMIUM</h2>
        <div class="cost">
          <span class="amount">$500</span>
          <span class="hosting self-hosted blue-text">WHEN SELF HOSTED</span>
          <span class="hosting basic-cloud blue-text">WITH BASIC CLOUD</span>
          <span class="hosting business-cloud blue-text">WITH BUSINESS CLOUD</span>
          <span class="hosting ha-cloud blue-text">WITH HA CLOUD</span>
        </div>
        <h3>Includes everything in Developer, plus:</h3>
        <ul class="fa-ul blue">
          <li class="business-cloud"><span class="fa-li"><i class="fas fa-check-circle fa-fw"></i></span> Login,
            registration,
            authorization
          </li>
          <li class="business-cloud"><span class="fa-li"><i class="fas fa-check-circle fa-fw"></i></span> MFA, SSO,
            SAML, OAuth, OIDC
          </li>
          <li class="business-cloud"><span class="fa-li"><i class="fas fa-check-circle fa-fw"></i></span> Themed login &
            registration
            pages
          </li>
          <li class="business-cloud"><span class="fa-li"><i class="fas fa-check-circle fa-fw"></i></span> Unlimited
            users & API
            requests
          </li>
        </ul>
        <a href="{% if jekyll.environment == 'development' %}https://account-local.fusionauth.io{% else %}https://account.fusionauth.io{% endif %}/account/edition/edit?license.plan=PREMIUM"
           class="blue brochure button" rel="nofollow">TRY IT FOR FREE</a>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-3 even card orange-border">
        <h2>ENTERPRISE</h2>
        <div class="cost">
          <span class="amount">$2,500</span>
          <span class="hosting self-hosted orange-text">WHEN SELF HOSTED</span>
          <span class="hosting basic-cloud orange-text">WITH BASIC CLOUD</span>
          <span class="hosting business-cloud orange-text">WITH BUSINESS CLOUD</span>
          <span class="hosting ha-cloud orange-text">WITH HA CLOUD</span>
        </div>
        <h3>Includes everything in Premium, plus:</h3>
        <ul class="fa-ul orange">
          <li class="ha-cloud"><span class="fa-li"><i class="fas fa-check-circle fa-fw"></i></span> Login, registration,
            authorization
          </li>
          <li class="ha-cloud"><span class="fa-li"><i class="fas fa-check-circle fa-fw"></i></span> MFA, SSO, SAML,
            OAuth, OIDC
          </li>
          <li class="ha-cloud"><span class="fa-li"><i class="fas fa-check-circle fa-fw"></i></span> Themed login &
            registration
            pages
          </li>
          <li class="ha-cloud"><span class="fa-li"><i class="fas fa-check-circle fa-fw"></i></span> Unlimited users &
            API
            requests
          </li>
        </ul>
        <a href="{% if jekyll.environment == 'development' %}https://account-local.fusionauth.io{% else %}https://account.fusionauth.io{% endif %}/account/edition/edit?license.plan=ENTERPRISE"
           class="orange brochure button" rel="nofollow">CONTACT US</a>
      </div>
    </div>
  </div>
</section>

<section class="white">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="card feature-details">
          <table class="edition collapsible">
            <thead>
            <tr>
              <th>&nbsp;</th>
              <th>
                <span>COMMUNITY</span>
                <a href="start-purchase" class="green brochure button">DOWNLOAD</a>
              </th>
              <th>
                <span>DEVELOPER</span>
                <a href="start-purchase" class="purple brochure button">TRY IT FOR FREE</a>
              </th>
              <th>
                <span>PREMIUM</span>
                <a href="start-purchase" class="blue brochure button">TRY IT FOR FREE</a>
              </th>
              <th>
                <span>ENTERPRISE</span>
                <a href="start-purchase" class="orange brochure button">CONTACT US</a>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr class="category hide-sm">
              <td>&nbsp;</td>
              <td colspan="4">Core Features</td>
            </tr>
            <tr class="category">
              <td>Core Features</td>
              <td><i class="fas fa-check-circle"></i></td>
              <td><i class="fas fa-check-circle"></i></td>
              <td><i class="fas fa-check-circle"></i></td>
              <td><i class="fas fa-check-circle"></i></td>
            </tr>
            <tr class="hide-sm">
              <td>&nbsp;</td>
              <td colspan="4">Login</td>
            </tr>
            <tr>
              <td>Login</td>
              <td><i class="far fa-check fa-fw"></i></td>
              <td><i class="far fa-check fa-fw"></i></td>
              <td><i class="far fa-check fa-fw"></i></td>
              <td><i class="far fa-check fa-fw"></i></td>
            </tr>
            <tr class="hide-sm">
              <td>&nbsp;</td>
              <td colspan="4">Registration</td>
            </tr>
            <tr>
              <td>Registration</td>
              <td><i class="far fa-check fa-fw"></i></td>
              <td><i class="far fa-check fa-fw"></i></td>
              <td><i class="far fa-check fa-fw"></i></td>
              <td><i class="far fa-check fa-fw"></i></td>
            </tr>
            <tr class="hide-sm">
              <td>&nbsp;</td>
              <td colspan="4">Single Sign-On</td>
            </tr>
            <tr>
              <td>Single Sign-On</td>
              <td><i class="far fa-check fa-fw"></i></td>
              <td><i class="far fa-check fa-fw"></i></td>
              <td><i class="far fa-check fa-fw"></i></td>
              <td><i class="far fa-check fa-fw"></i></td>
            </tr>
            <tr class="hide-sm">
              <td>&nbsp;</td>
              <td colspan="4">MFA (SMS or app)</td>
            </tr>
            <tr>
              <td>MFA (SMS or app)</td>
              <td><i class="far fa-check fa-fw"></i></td>
              <td><i class="far fa-check fa-fw"></i></td>
              <td><i class="far fa-check fa-fw"></i></td>
              <td><i class="far fa-check fa-fw"></i></td>
            </tr>
            <tr class="hide-sm">
              <td>&nbsp;</td>
              <td colspan="4">OAuth 2.0</td>
            </tr>
            <tr>
              <td>OAuth 2.0</td>
              <td><i class="far fa-check fa-fw"></i></td>
              <td><i class="far fa-check fa-fw"></i></td>
              <td><i class="far fa-check fa-fw"></i></td>
              <td><i class="far fa-check fa-fw"></i></td>
            </tr>
            <tr class="hide-sm">
              <td>&nbsp;</td>
              <td colspan="4">OpenID Connect</td>
            </tr>
            <tr>
              <td>OpenID Connect</td>
              <td><i class="far fa-check fa-fw"></i></td>
              <td><i class="far fa-check fa-fw"></i></td>
              <td><i class="far fa-check fa-fw"></i></td>
              <td><i class="far fa-check fa-fw"></i></td>
            </tr>
            <tr class="hide-sm">
              <td>&nbsp;</td>
              <td colspan="4">SAMLv2</td>
            </tr>
            <tr>
              <td>SAMLv2</td>
              <td><i class="far fa-check fa-fw"></i></td>
              <td><i class="far fa-check fa-fw"></i></td>
              <td><i class="far fa-check fa-fw"></i></td>
              <td><i class="far fa-check fa-fw"></i></td>
            </tr>
            <tr style="display:none;"></tr>
            <tr class="hide-sm">
              <td class="repeat-header">&nbsp;</td>
              <td class="repeat-header">COMMUNITY</td>
              <td class="repeat-header">DEVELOPER</td>
              <td class="repeat-header">PREMIUM</td>
              <td class="repeat-header">ENTERPRISE</td>
            </tr>
            <tr class="category hide-sm">
              <td>&nbsp;</td>
              <td colspan="4">Premium Features</td>
            </tr>
            <tr class="category">
              <td>Premium Features</td>
              <td>&nbsp;</td>
              <td><i class="fas fa-check-circle"></i></td>
              <td><i class="fas fa-check-circle"></i></td>
              <td><i class="fas fa-check-circle"></i></td>
            </tr>
            <tr class="hide-sm">
              <td>&nbsp;</td>
              <td colspan="4">Breached password detection</td>
            </tr>
            <tr>
              <td>Breached password detection</td>
              <td>&nbsp;</td>
              <td><i class="far fa-check"></i></td>
              <td><i class="far fa-check"></i></td>
              <td><i class="far fa-check"></i></td>
            </tr>
            <tr class="hide-sm">
              <td>&nbsp;</td>
              <td colspan="4">Advanced registration forms</td>
            </tr>
            <tr>
              <td>Advanced registration forms</td>
              <td>&nbsp;</td>
              <td><i class="far fa-check"></i></td>
              <td><i class="far fa-check"></i></td>
              <td><i class="far fa-check"></i></td>
            </tr>
            <tr class="hide-sm">
              <td>&nbsp;</td>
              <td colspan="4">LDAP integration</td>
            </tr>
            <tr>
              <td>LDAP integration</td>
              <td>&nbsp;</td>
              <td><i class="far fa-check"></i></td>
              <td><i class="far fa-check"></i></td>
              <td><i class="far fa-check"></i></td>
            </tr>
            <tr class="hide-sm">
              <td>&nbsp;</td>
              <td colspan="4">Architecture review</td>
            </tr>
            <tr>
              <td>Architecture review</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td><i class="far fa-check"></i></td>
              <td><i class="far fa-check"></i></td>
            </tr>
            <tr class="hide-sm">
              <td>&nbsp;</td>
              <td colspan="4">Deployment review</td>
            </tr>
            <tr>
              <td>Deployment review</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td><i class="far fa-check"></i></td>
              <td><i class="far fa-check"></i></td>
            </tr>
            <tr class="hide-sm">
              <td>&nbsp;</td>
              <td colspan="4">Security assistance</td>
            </tr>
            <tr>
              <td>Security assistance</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td><i class="far fa-check"></i></td>
              <td><i class="far fa-check"></i></td>
            </tr>
            <tr class="hide-sm">
              <td>&nbsp;</td>
              <td colspan="4">Integration assistance</td>
            </tr>
            <tr>
              <td>Integration assistance</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td><i class="far fa-check"></i></td>
              <td><i class="far fa-check"></i></td>
            </tr>
            <tr class="hide-sm">
              <td>&nbsp;</td>
              <td colspan="4">Data migration assistance</td>
            </tr>
            <tr>
              <td>Data migration assistance</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td><i class="far fa-check"></i></td>
              <td><i class="far fa-check"></i></td>
            </tr>
            <tr class="hide-sm">
              <td>&nbsp;</td>
              <td colspan="4">Email support</td>
            </tr>
            <tr>
              <td>Email support</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td><i class="far fa-check"></i></td>
              <td><i class="far fa-check"></i></td>
            </tr>
            <tr class="hide-sm">
              <td>&nbsp;</td>
              <td colspan="4">Phone support</td>
            </tr>
            <tr>
              <td>Phone support</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td><i class="far fa-check"></i></td>
            </tr>
            <tr class="hide-sm">
              <td>&nbsp;</td>
              <td colspan="4">Private Slack channel</td>
            </tr>
            <tr>
              <td>Private Slack channel</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td><i class="far fa-check"></i></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row center">
      <div class="col-xs-12 col-md-10 col-lg-8 centered">
        <p>
          Migrating from another solution? Contact us about our <a href="#" class="orange-text">Upgrade Guides</a> to
          make migration simple.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="blue hero pricing hosting">
  <div class="container content">
    <div class="row">
      <div class="col-xs-12 col-lg-6 text">
        <h1>FusionAuth Cloud</h1>
        <p>
          Let FusionAuth host, monitor, manage and maintain your deployment in your own private cloud.
        </p>
      </div>
    </div>
    <div class="row pricing-cards">
      <div class="col-xs-12 col-md-6 col-lg-4 white even card">
        <h2>Basic Hosting</h2>
        <div class="cost">
          <span class="starting-at">Starting at</span>
          <span class="amount">$75</span><span class="interval">/month</span>
        </div>
        <h3>Features</h3>
        <ul class="fa-ul purple">
          <li><span class="fa-li"><i class="far fa-check fa-fw"></i></span> Pick your region: US,
            Canada, South America, Europe, Asia, Australia
          </li>
          <li><span class="fa-li"><i class="far fa-check fa-fw"></i></span> Fault-tolerant disks</li>
          <li><span class="fa-li"><i class="far fa-check fa-fw"></i></span> Up and running in minutes
          </li>
        </ul>
        <a href="start-purchase" class="purple brochure button">BUY NOW</a>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4 white even card">
        <h2>Premium</h2>
        <div class="cost">
          <span class="starting-at">Starting at</span>
          <span class="amount">$225</span><span class="interval">/month</span>
        </div>
        <h3>Features</h3>
        <ul class="fa-ul blue">
          <li><span class="fa-li"><i class="far fa-check fa-fw"></i></span> All the Basic features plus
            &hellip;
          </li>
          <li><span class="fa-li"><i class="far fa-check fa-fw"></i></span> 3 nightly backups</li>
          <li><span class="fa-li"><i class="far fa-check fa-fw"></i></span> Full database replication
            available
          </li>
        </ul>
        <a href="start-purchase" class="blue brochure button">BUY NOW</a>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4 white even card">
        <h2>Enterprise</h2>
        <div class="cost">
          <span class="starting-at">Starting at</span>
          <span class="amount">$350</span><span class="interval">/month</span>
        </div>
        <h3>Extra Features</h3>
        <ul class="fa-ul orange">
          <li><span class="fa-li"><i class="far fa-check fa-fw"></i></span> All the Premium features
            plus &hellip;
          </li>
          <li><span class="fa-li"><i class="far fa-check fa-fw"></i></span> Redundant servers</li>
          <li><span class="fa-li"><i class="far fa-check fa-fw"></i></span> Load-balanced</li>
          <li><span class="fa-li"><i class="far fa-check fa-fw"></i></span> Custom URLs available (i.e.
            login.mycompany.com)
          </li>
          <li><span class="fa-li"><i class="far fa-check fa-fw"></i></span> SLA available (up to
            99.99%)
          </li>
        </ul>
        <a href="start-purchase" class="orange brochure button">BUY NOW</a>
      </div>
    </div>
  </div>
  <div class="hero-image less-top right">
    <img src="/images/heros/pricing-hosting.svg" alt="Hosting">
  </div>
</section>

<section class="white">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="card collapsible feature-details">
          <header>
            <div> <!-- Dumb flexbox -->
              <h2>Full Feature Breakdown</h2>
              <p>Compare the features & benefits of each of the FusionAuth Editions.</p>
            </div>
            <a href="#" class="collapse-button"><i class="fas fa-chevron-circle-up fa-3x"></i></a>
          </header>
          <div class="collapsible-content">
            <table>
              <thead>
              <tr>
                <th>&nbsp;</th>
                <th>Community</th>
                <th>Premium</th>
                <th>Enterprise</th>
              </tr>
              </thead>
              <tbody>
              <tr class="category">
                <td colspan="4">Features</td>
              </tr>
              <tr>
                <td>Login</td>
                <td><i class="far fa-check fa-fw"></i></td>
                <td><i class="far fa-check fa-fw"></i></td>
                <td><i class="far fa-check fa-fw"></i></td>
              </tr>
              <tr>
                <td>Registration</td>
                <td><i class="far fa-check fa-fw"></i></td>
                <td><i class="far fa-check fa-fw"></i></td>
                <td><i class="far fa-check fa-fw"></i></td>
              </tr>
              <tr>
                <td>Single Sign-On</td>
                <td><i class="far fa-check fa-fw"></i></td>
                <td><i class="far fa-check fa-fw"></i></td>
                <td><i class="far fa-check fa-fw"></i></td>
              </tr>
              <tr>
                <td>MFA (SMS or app)</td>
                <td><i class="far fa-check fa-fw"></i></td>
                <td><i class="far fa-check fa-fw"></i></td>
                <td><i class="far fa-check fa-fw"></i></td>
              </tr>
              <tr>
                <td>OAuth 2.0</td>
                <td><i class="far fa-check fa-fw"></i></td>
                <td><i class="far fa-check fa-fw"></i></td>
                <td><i class="far fa-check fa-fw"></i></td>
              </tr>
              <tr>
                <td>OpenID Connect</td>
                <td><i class="far fa-check fa-fw"></i></td>
                <td><i class="far fa-check fa-fw"></i></td>
                <td><i class="far fa-check fa-fw"></i></td>
              </tr>
              <tr>
                <td>SAMLv2</td>
                <td><i class="far fa-check fa-fw"></i></td>
                <td><i class="far fa-check fa-fw"></i></td>
                <td><i class="far fa-check fa-fw"></i></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="gray hero">
  <div class="container">
    <div class="row center">
      <div class="col-xs-12 col-md-10 col-lg-8 centered">
        <h1>Use FusionAuth for Free</h1>
        <strong>Seriously &hellip; No tricks or gimmicks!</strong>
        <p>
          Download FusionAuth–the full version, not a feature-crippled 'developer' version–deploy it on your
          servers or private cloud, and you can use it for free for as long as you need. No time limits, no
          user limits, no restrictions. Use it for local testing, proof-of-concepts, in-house development, MVP
          startups, or full production. No problem.
        </p>
      </div>
    </div>
    <div class="row center">
      <div class="col-xs-12 col-md-10 col-lg-8 centered">
        <a href="#" class="orange brochure button">DOWNLOAD & USE FUSIONAUTH FOR FREE</a>
      </div>
    </div>
    <div class="row center">
      <div class="col-xs-12 col-md-10 col-lg-8 centered">
        <p>
          Join our <a href="#" class="orange-text"><strong>active developer community</strong></a> if you have
          questions.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="orange hero">
  <div class="container content">
    <div class="row">
      <div class="col-xs-12 col-lg-6 text">
        <h1>Professional Services</h1>
        <p>
          Need something custom? Complex migration help? A unique feature no one else offers? Let's talk about
          it. We love a challenge.
        </p>
        <p>
          <a href="#" class="orange brochure button">CONTACT US</a>
        </p>
      </div>
    </div>
  </div>
  <div class="hero-image bottom right">
    <img src="/images/heros/callout.svg" alt="Professional Services" class="callout">
  </div>
</section>

<script type="text/javascript">
    Prime.Document.onReady(function () {
        const dialog = new Prime.Widgets.HTMLDialog(Prime.Document.queryFirst('#cloud-hosting-dialog'))
            .initialize()
            .open();
        Prime.Document.queryFirst('.hosting-option-button')
            .addEventListener('click', function () {
                dialog.open();
                if (dialog.element.getTop() < 0) {
                    dialog.element.setTop(0);
                }
            });

        Prime.Document.query('.radio-bar li').each(function (e) {
            e.addEventListener('click', function (event) {
                e.queryUp('.radio-bar').queryFirst('li.checked').removeClass('checked');
                e.addClass('checked');
                Prime.Document.queryFirst('.pricing-cards')
                    .removeClass('show-self-hosted show-basic-cloud show-business-cloud show-ha-cloud')
                    .addClass('show-' + e.queryFirst('input').getValue());
            });
        });

        var _handleSliderChange = function () {
            var monthlyActiveUserSlider = Prime.Document.queryById('monthly-active-users');
            var mau = monthlyActiveUserSlider.getValue();
            var mauDisplay = new Intl.NumberFormat('en').format(mau);
            var monthlyActiveUserSliderLabel = Prime.Document.queryFirst('.slider-bar label');
            monthlyActiveUserSliderLabel.setTextContent(mauDisplay);

            var percent = 100 * (mau - 10000) / (5000000 - 10000);
            monthlyActiveUserSlider.setStyle('background', 'linear-gradient(to right, #000 0%, #000 ' + percent + '%, #fff ' + percent + '%, white 100%)');
        };

        Prime.Document.queryById('monthly-active-users')
            .addEventListener('input', _handleSliderChange)
            .addEventListener('mouseup', _handleSliderChange);
        _handleSliderChange();
    });
</script>

<div id="cloud-hosting-dialog" class="prime-dialog wide hidden">
  <header>
    <a href="#" data-dialog-role="close-button"><i class="far fa-times-circle"></i></a>
  </header>
  <main>
    <div class="row title">
      <div class="col-xs-12">
        <h1>FusionAuth Cloud</h1>
        <span>Let FusionAuth host, monitor, manage, and maintain your deployment in your own private cloud.</span>
      </div>
    </div>
    <div class="row content">
      <div class="col-xs-12 col-lg-4">
        <h6>BASIC CLOUD</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ornare, libero in cursus convallis, odio est
          ultricies elit, eu auctor erat massa sed dolor.</p>
        <p>In vel augue quis mauris placerat consectetur. Duis dignissim lacus sed nibh consequat, quis posuere urna
          mollis. Cras congue ligula sit amet iaculis accu msan. In auctor ac metus non lobortis.</p>
      </div>
      <div class="col-xs-12 col-lg-4">
        <h6>BUSINESS CLOUD</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ornare, libero in cursus convallis, odio est
          ultricies elit, eu auctor erat massa sed dolor.</p>
        <p>In vel augue quis mauris placerat consectetur. Duis dignissim lacus sed nibh consequat, quis posuere urna
          mollis. Cras congue ligula sit amet iaculis accu msan. In auctor ac metus non lobortis.</p>
      </div>
      <div class="col-xs-12 col-lg-4">
        <h6>HIGH AVAILABILITY CLOUD</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ornare, libero in cursus convallis, odio est
          ultricies elit, eu auctor erat massa sed dolor.</p>
        <p>In vel augue quis mauris placerat consectetur. Duis dignissim lacus sed nibh consequat, quis posuere urna
          mollis. Cras congue ligula sit amet iaculis accu msan. In auctor ac metus non lobortis.</p>
      </div>
    </div>
    <div class="row separator">
      <div class="col-xs-12"></div>
    </div>
    <div class="row questions">
      <div class="col-xs-12">
        <h5>Still have hosting questions?</h5>
      </div>
    </div>
  </main>
  <footer>
    <a href="#" class="orange brochure button">LEARN MORE ABOUT FUSIONAUTH CLOUD</a>
  </footer>
</div>
